[submodule "MyBlog-Frontend"]
	path = MyBlog-Frontend
	url = git@github.com:A-Siam/MyBlog-Frontend.git
[submodule "MyBlog-Backend"]
	path = MyBlog-Backend
	url = git@github.com:A-Siam/MyBlog-Backend.git
