[submodule "Bloggie-Frontend"]
	path = Bloggie-Frontend
	url = git@github.com:A-Siam/MyBlog-Frontend.git
[submodule "Bloggie-Backend"]
	path = Bloggie-Backend
	url = git@github.com:A-Siam/MyBlog-Backend.git
